<script>
  import GenericBtn from '../components/genericBtn.svelte'
</script>

<div style="float:right;">
  <GenericBtn
    iconBtn="logout"
    testid="logout-btn"
    methodBtn="logout"
    colorBtn="error"
    textBtn="logout"
    keyBtn="small"
  />
</div>
